@import "tailwindcss";

header,
nav {
  /* From https://css.glass */
  background: rgba(255, 0, 0, 0.16);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  border: 0.1px solid black;
}
